[submodule "opt/vim-tmux"]
	path = opt/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "opt/tmux-yank"]
	path = opt/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "opt/tmux-resurrect"]
	path = opt/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
  ignore = dirty
[submodule "opt/tmux-online-status"]
	path = opt/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule "solarized-them"]
	path = opt/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "urlview"]
	path = opt/tmux-urlview
	url = https://github.com/tmux-plugins/tmux-urlview
